<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/login.css">
    <title>Log in - CodeChat</title>
</head>
<body>
    <div id="login-container" >
    <div id="login" >
        <h2>LOG IN</h2>
        <h4>Don't have a account?<a href="signup.html">Sign up</a></h4><br>
        <input type="email" placeholder="Email Id"><br>
        <input type="password" placeholder="Password">
        <input style="margin-top: 30px; padding: 10px; width: 100px; margin-left: 68px; " class="submit" type="submit" value="Submit">
    </div></div>
</body>
</html>