<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/signup.css">
    <title>Sign in - CodeChat</title>
</head>
<body>
    <div id="login-container" >
        <div id="login" >
            <h2>CREATE A NEW ACCOUNT</h2>
            <h4>Already have a account?<a href="login.html">Log in</a></h4><br>
            <input type="text" placeholder="UserId" ><br>
            <input type="email" placeholder="Email Id"><br>
            <input type="password" placeholder="Password">
            <input style="margin-top: 30px; padding: 10px; width: 100px; margin-left: 80px; " class="submit" type="submit" value="Submit">
        </div></div>
</body>
</html>