{%extends 'base.html'%}

{%block head%}
<style>
    body{
        background: url({{url_for('static',filename='images/form.gif')}});
    }
    
</style>
<link rel="stylesheet" href="{{url_for('static',filename='form.css')}}">

{%endblock%}


{%block body%}


    <div id="login-container" >
    <div id="login" >
        <h2>LOG IN</h2>
        <h4>Dont have a account?<a href="{{url_for('signup')}}">Sign up</a></h4><br>
        <form action="" method="post" >
        <input type="email" placeholder="Email Id"><br>
        <input type="password" placeholder="Password">
        <input style="margin-top: 30px; padding: 10px; width: 100px; margin-left: 68px; " class="submit" type="submit" value="Submit">
    </form>
    </div>
</div>


{%endblock%}
